<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445663575415-rohgfvukogu34i7o6qs09pk49vt4mg9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445663575415-rohgfvukogu34i7o6qs09pk49vt4mg9k</string>
	<key>API_KEY</key>
	<string>AIzaSyAzzIShiQbjJ57ZgGB_pnFnfegDyt3lgq0</string>
	<key>GCM_SENDER_ID</key>
	<string>445663575415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.projectname</string>
	<key>PROJECT_ID</key>
	<string>rn-template-c398a</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-template-c398a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445663575415:ios:33bb0b5c1140d9eb773572</string>
</dict>
</plist>